<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{l_nombres.1}}
    Probando cosas

    {% for nom in l_nombres %}
        <p>Nombre: {{ nom }}</p>
    {% endfor %}
    
    {% for ed in l_edad %}
        <p>Edad: {{ ed }}</p>
    {% endfor %}
    
    {% for fec in l_fecha %}
        <p>Fecha de nacimiento: {{ fec }}</p>
    {% endfor %}

    {% with i=1 %}

        <p>Nombre: {{ l_nombres }}</p>
        <p>Edad: {{ l_edad }}</p>
        <p>Fecha de nacimiento: {{ l_fecha }} </p>
    {% endwith %}

</body>
</html>